ul {
  list-style-image: url("../Images/bullet.png");
}

h1 {
	font-variant-caps: small-caps;
}

h2 {
	background-color: green;
	page-break-before: always;
}

h3 {
	color: green;
	width: 100%;
}

li {
	padding-bottom: 1ch;
}

.keyword {
	color: red;
	font-weight: bold;
}

.section {
	color: green;
}

.bullets {
	color: green;
	font-weight: bold;
}

.image {
	float: left;
	padding:1ch;
}

.tdleft {
	background-color: green;
	font-weight: bold;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.fright {
	float: right;
}

.column {
	float: left;
	width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

code {
	padding: 2px;
	color: darkred;
	font-weight: bold;
}

.IPExample {
	background-color: green;
	width: 100%;
	text-align: center;
}

.IPEmbedded {
	background-color: white;
	margin: auto;
	text-align: center;
}

.tooltip {
	text-decoration: underline;
}