ul {
  list-style-image: url("../Images/bullet.png");
}

h1 {
	font-variant-caps: small-caps;
}

h2 {
	background-color: green;
	margin-top: 2cap
}

h3 {
	color: green;
}

li {
	padding-bottom: 1ch
}

.keyword {
	color: red;
	font-weight: bold;
}

.section {
	color: green
}

.bullets {
	color: green;
	font-weight: bold;
}

.image {
	float: left;
	padding:1ch
}

.tdleft {
	background-color: green;
	font-weight: bold;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.fright {
	float: right;
}